/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #272727;
}

a:hover {
  color: #ff60f0de;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  font-family: 'Sofia';
  display: block;
  margin-right: auto;
  color: white;
  font-size: 3vh;

}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
  color: white
}

.nav a:hover {
  color: #fbed10
}

header {
  text-align: center;
  background: url('../assets/back.jpeg');
  background-size: cover; 
  overflow: hidden;
  padding-top: 60px;
}

header {
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.location {
  background-color: #222;
  color: yellow;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card:hover {
  border-color: #ff99ff;
}

.project{
  max-width: 1200px;
}


ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .credit {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}


.clearfix {
  clear: both;
}

.madewithlove {
  color: #ec1625;

}

.madewithlove:hover {
  color: #ff60f0de;

}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  
  
  
  }
  

